.Container{
    text-align: center;
    padding: 2em 0;
    box-sizing: border-box;
}
.Container > h4{
    /* position: relative; */
    color: orange;
    padding: 0;
    margin: 0;
    font-size: 1.2em;
}
.arrow{
    color: orange;
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    height: 2em;
    overflow: hidden;
}
.Container a:hover{
    color: yellow;
}

.education{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 2.5em 0;
    text-align: center;
}


.up{
    position: relative;
    top: 40%;
    animation: up 1s infinite alternate;
}

.down{
    animation: down 1s infinite alternate;
}

@keyframes up{
    from{
        /* font-size: 1em; */
    }
    to{
        font-size: 1.3em;
        font-weight: 800;
        transform: translateY(-20px);
    }
}

@keyframes down{
    from{
        /* font-size: 1em; */
    }
    to{
        font-size: 1.3em;
        font-weight: 800;
        transform: translateY(20px);
    }
}