.Certification{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.Images{
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}


@media (min-width: 681px){
    .Images{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

@media (max-width: 500px){
    .Images{
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

