.Project{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;

    padding: 2.5em 0;
}

@media(max-height: 670px)
{
    .Certification{
        padding-bottom: 0;
    }
}

