.Navbar{
    z-index: 200;
    background-color: black;
    width: 100%;
    margin: 0;
    padding: 0 8%;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    box-shadow: 2px 4px rgba(0,0,0,0.3);
}

.Navbar ul{
    padding: 0;
}

@media(max-width: 870px){
    .Navbar{
        padding: 0 3%;
    }
}

@media(max-width: 750px){
    .Navbar ul{
        display: none;
    }
}