.CodingProfile{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* border: 4px solid darkred; */
    /* margin: 5px; */
    min-width: 360px;
    box-sizing: border-box;
    
    /* **** */
    width: 100vw;
}

.Images{
    text-align: center;
    box-sizing: border-box;
}
/* 
.arrow_left a{
    color: white;
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 2em;
    width: 35px;
    height: 35px;
    text-align: center;
    text-shadow: black 0px 0px 6px;
}
.arrow_right a{
    color: white;
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 2em;
    width: 35px;
    height: 35px;
    text-align: center;
    text-shadow: black 1px 1px 4px;
}

.arrow_left :hover , .arrow_right :hover{
    color: lightgray;
} */

@media (min-width: 680px){
    .Images{
        display: flex;
        align-items: center;
    }
}

@media(max-width: 450px){
    .CodingProfile{
        margin: 10px 0;
    }
}