.Container{
    text-align: center;
    padding: 2em 0;
    box-sizing: border-box;
}
.Container > h4{
    /* position: relative; */
    color: orange;
    padding: 0;
    margin: 0;
    font-size: 1.2em;
}
.arrow{
    color: orange;
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    height: 2em;
    overflow: hidden;
}
.Container a:hover{
    color: yellow;
}

.Section{
    z-index: 3;
    width: 100vw; 
    overflow: hidden;
    position: relative;
    /* padding: 15px; */
    box-sizing: border-box;
}

.Frame{
    /* position: relative; */
    transition:  transform 1s;
}


@media(min-width: 1201px)
{
    .Section{
        height: 70vh;
        min-height: 400px;
    }
}

@media(max-width: 1200px)
{
    .Section{
        height: 80vh;
        min-height: 300px;
    }
}

@media(max-width: 850px)
{
    .Section{
        height: 80vh;
        min-height: 500px;
    }
}

@media(max-width: 500px)
{
    .Section{
        height: 100vh;
        min-height: 400px;
        margin: 0;
    }
}

@media(max-height: 600px){
    .Section{
        height: auto;
    }
}


.up{
    position: relative;
    top: 40%;
    animation: up 1s infinite alternate;
}

.down{
    animation: down 1s infinite alternate;
}

@keyframes up{
    from{
        /* font-size: 1em; */
    }
    to{
        font-size: 1.3em;
        font-weight: 800;
        transform: translateY(-20px);
    }
}

@keyframes down{
    from{
        /* font-size: 1em; */
    }
    to{
        font-size: 1.3em;
        font-weight: 800;
        transform: translateY(20px);
    }
}