@keyframes anim1 {
  0% {
    background-color: transparent;
  }

  100% {
    background-color: rgba(250, 190, 88, 0.4);
  }
}

.Object {
  box-sizing: border-box;
  position: relative;
  float: left;
  animation-name: anim1;
  animation-iteration-count: infinite;
}
