.word{
	width: 9em;
    margin: 0;
    padding:0;
    letter-spacing: 0.2em;
    
}

div {
  width: 9em;
  overflow: hidden;
  height: auto;
  position: relative;
  border-right: 1px solid black;
  animation: example 3s ease-out alternate infinite, example2 0.2s linear alternate infinite;
}

@keyframes example2 {
  0%   {border-right: 1px solid black;}
  100%   {border-right: 1px solid white;}  
}

@keyframes example {
  0%   {width: 0em}
  10% {width: 0.9em}
  15% {width: 1.8em}
  20% {width: 2.7em}
  25% {width: 3.6em}
  30% {width: 4.5em}
  35% {width: 5.4em}
  40% {width: 6.3em}
  45% {width: 7.2em}
  50% {width: 8.1em}
  55% {width: 9em}
}