.Animation{
  z-index: 0;
  /* position: absolute;
  top:0;
  left:0; */
  margin: auto;
  /* margin-top: 150px; */
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  text-align: center;
  overflow-x: hidden;
}

.children{
  width: 100vw;
  min-height: 100vh;
  z-index: 0;
  /* position: absolute;
  top: 0;
  left: 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow-x: hidden;
}

@media(max-width: 750px){
  .children{
    padding: 5vh 0;
  }
}


.Object{
  position: absolute;
  /* top: 80px; */
  left: 0;
  height: 100vh;
  min-height: 450px;
  width: 100vw;
  overflow: hidden;
}

@media(max-width: 750px){
  .Object{
    top: 0;
  }
}