body{
    background-color:#021D44 ;
    margin: 0;
    padding: 0;
    /* padding-top: 100vh; */
    overflow-x: hidden;
}

html{
    /* height: 500vh; */
    /* min-width: 300px; */
    overflow-x: hidden;
}

*{
    /* font-family: 'Oswald', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
}